<div id="content" class="content-site customize-site">
    {{ range .Site.Data.webstack }}
        {{ $list := .list }}{{ $taxonomy := .taxonomy }}{{ $links := .links }}
        {{ if $list }}{{ range $list }}{{ template "url-section" (dict "term" .term "links" .links "context" $) }}{{ end }}
        {{ else }}{{ template "url-section" (dict "term" $taxonomy "links" $links "context" $) }}{{ end }}
    {{ end }}
</div>

{{ define "url-section" }}
    <div class="d-flex flex-fill">
        <h4 class="text-gray text-lg mb-4">
            <i class="site-tag iconfont icon-tag icon-lg mr-1" id="{{ md5 .term }}"></i>
            {{ .term }}
        </h4>
    </div>
    <div class="row">
        {{ range .links }}
        <div class="url-card col-6 col-sm-6 col-md-4 col-xl-5a col-xxl-6a">
            <div class="url-body default">
                <a href="{{ .url }}" target="_blank" class="card no-c mb-4" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ .description }}">
                    <div class="card-body">
                        <div class="url-content d-flex align-items-center">
                            <div class="url-img mr-2 d-flex align-items-center justify-content-center">
                                {{ $logo_url := "" }}
                                {{ if findRE "http.*?(.|\n)*?" .logo }}{{ $logo_url = .logo }}
                                {{ else }}{{ $logo_url = printf "%s/%s" .context.Site.Params.logosPath .logo }}{{ end }}
                                <img class="lazy" 
                                     src="{{ .context.Site.Params.defaultLogo }}" 
                                     data-src="{{ $logo_url }}" 
                                     width="64" height="64" 
                                     loading="lazy" 
                                     alt="{{ .title }}">
                            </div>
                            <div class="url-info flex-fill">
                                <div class="text-sm overflowClip_1"><strong>{{ .title }}</strong></div>
                                <p class="overflowClip_1 m-0 text-muted text-xs">{{ .description }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ .url }}" class="togo text-center text-muted is-views" title="直达" rel="nofollow">
                    <i class="iconfont icon-goto"></i>
                </a>
            </div>
        </div>
        {{ end }}
    </div>
    <br />
{{ end }}