<div class="header-big  post-top css-color mb-4" id="search-bg">
    <div class="s-search">
        <div id="search" class="s-search mx-auto">
            <div id="search-list-menu" class="hide-type-list">
                <div class="s-type text-center">
                    <div class="s-type-list big">
                        <div class="anchor" style="position: absolute; left: 50%; opacity: 0;"></div>
                        <label for="type-google"   data-id="group-a"><span>常用</span></label>
                        <label for="type-bing"     data-id="group-b"><span>搜索</span></label>
                        <label for="type-zhihu"    data-id="group-c"><span>社区</span></label>
                        <label for="type-taobao"   data-id="group-d"><span>生活</span></label>
                    </div>
                </div>
            </div>

            <form action="https://www.baidu.com/s?wd=" method="get" target="_blank" class="super-search-fm">
                <input type="text" id="search-text" class="form-control smart-tips search-key" 
                    zhannei="" placeholder="输入关键字搜索" style="outline:0" autocomplete="off">
                <button class="submit" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

            <div id="search-list" class="hide-type-list">
                <div class="search-group group-a">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-google"
                            value="https://www.google.com/search?q=" 
                            data-placeholder="Don't be evil">
			                <label for="type-google"><span class="text-muted">Google</span></label></li>
                    </ul>
                </div>
                <div class="search-group group-b">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-bing"
                            value="https://cn.bing.com/search?q=" 
                            data-placeholder="快乐搜索，有求必应">
                            <label for="type-bing"><span class="text-muted">必应</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-baidu"
                            value="https://www.baidu.com/s?wd=" 
                            data-placeholder="百度一下，你就知道">
                            <label for="type-baidu"><span class="text-muted">百度</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-360"
                                value="https://www.so.com/s?q=" 
                                data-placeholder="360搜索，So靠谱">
                            <label for="type-360"><span class="text-muted">360</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-sogou"
                                value="https://www.sogou.com/web?query=" 
                                data-placeholder="搜狗搜索，搜索更懂你">
                            <label for="type-sogou"><span class="text-muted">搜狗</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-ghbk"
                            value="https://www.ghxi.com/?s=" 
                            data-placeholder="果核剥壳 | 搜索绿色软件">
                            <label for="type-ghbk"><span class="text-muted">软件</span></label></li>
                    </ul>
                </div>
                <div class="search-group group-c">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-zhihu" 
                            value="https://www.zhihu.com/search?type=content&q=" 
                            data-placeholder="有问题，就会有答案">
                            <label for="type-zhihu"><span class="text-muted">知乎</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-xhs" 
                            value="https://www.xiaohongshu.com/search_result?keyword=" 
                            data-placeholder="你的生活指南">
                            <label for="type-xhs"><span class="text-muted">小红书</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-weixin" 
                            value="https://weixin.sogou.com/weixin?type=2&query=" 
                            data-placeholder="搜狗 | 微信文章搜索">
                            <label for="type-weixin"><span class="text-muted">微信</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-weibo" 
                            value="https://s.weibo.com/weibo/" 
                            data-placeholder="随时随地发现新鲜事！">
                            <label for="type-weibo"><span class="text-muted">微博</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-douban" 
                            value="https://www.douban.com/search?q=" 
                            data-placeholder="汇聚一亿人生活趣味">
                            <label for="type-douban"><span class="text-muted">豆瓣</span></label></li>
                    </ul>
                </div>
                <div class="search-group group-d">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-taobao" 
                            value="https://s.taobao.com/search?q=" 
                            data-placeholder="淘宝·太好逛了吧！">
                            <label for="type-taobao"><span class="text-muted">淘宝</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-jd" 
                            value="https://search.jd.com/Search?keyword=" 
                            data-placeholder="京东·不负每一份热爱">
                            <label for="type-jd"><span class="text-muted">京东</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-tmall" 
                            value="https://s.taobao.com/search?fromTmallRedirect=true&q=" 
                            data-placeholder="理想生活上天猫">
                            <label for="type-tmall"><span class="text-muted">天猫</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-kd100" 
                            value="https://kuaidi100.com/?nu=" 
                            data-placeholder="请输入快递单号">
                            <label for="type-kd100"><span class="text-muted">快递100</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-drug" 
                            value="https://www.dayi.org.cn/search?keyword=" 
                            data-placeholder="请输入您要查询的疾病、症状、医院、医生、药品 | 中国医药信息查询平台">
                            <label for="type-drug"><span class="text-muted">国药查询</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-dingxiang" 
                            value="https://drugs.dxy.cn/pc/search?keyword=" 
                            data-placeholder="丁香园·搜索疾病、指南、药品">
                            <label for="type-dingxiang"><span class="text-muted">丁香用药</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-gjkd" 
                            value="https://t.17track.net/zh-cn#nums=" 
                            data-placeholder="请输入国际快递单号">
                            <label for="type-gjkd"><span class="text-muted">国际快件</span></label></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>