<script src='{{ relURL "assets/js/jquery.min-3.2.1.js" }}' id='jquery-js'></script>
<script type='text/javascript' id='popper-js-extra'>
/* <![CDATA[ */
var theme = {
    "minNav":"1"
};
/* ]]> */
</script>
<script type='text/javascript' src='{{ relURL "assets/js/popper.min.js" }}' id='popper-js'></script>
<script type='text/javascript' src='{{ relURL "assets/js/bootstrap.min-4.3.1.js" }}' id='bootstrap-js'></script>
<script type='text/javascript' src='{{ relURL "assets/js/app-mini.js" }}' id='appmini-js'></script>
<script>
    $(document).ready(() => {
        const $body = $('body');
        const $modeToggle = $('#mode-toggle');
        const $modeIcon = $modeToggle.find('.mode-ico');
    
        // 初始化
        autoSwitchMode();
        updateMode();
    
        // 点击按钮切换模式
        $modeToggle.on('click', () => toggleMode());
    
        // 打开搜索弹窗后自动聚焦
        $('#search-modal').on('shown.bs.modal', function(){
            $('#search-text').focus();
        });

        // 按 / 打开搜索并自动聚焦
        $(document).on('keydown', function(ev){
            if(
                ev.key === '/' &&
                !$(ev.target).is('input, textarea, select, [contenteditable="true"]')
            ){
                ev.preventDefault();
                $('#search-modal').modal('show');
            }
        });
        
        // 平滑滚动与侧边栏锚点导航
        $(document).on('click', 'a.smooth', function(ev) {
            const href = $(this).attr('href');
            if (!href || href.charAt(0) !== '#') {
                return;
            }

            ev.preventDefault();

            const target = document.getElementById(href.substring(1));

            if (target) {
                $('html, body').stop().animate({
                    scrollTop: $(target).offset().top - 90
                }, 500, 'swing');
            }
        });
    
        // 更新模式相关的样式和元素
        function updateMode() {
            const isNightMode = $body.hasClass('io-black-mode');
            $modeIcon
            .removeClass('fa-moon fa-sun')
            .addClass(isNightMode ? 'fa-sun' : 'fa-moon');
        }
    
        // 切换模式（夜间模式和白天模式）
        function toggleMode() {
            const isNightMode = !$body.hasClass('io-black-mode');
            $body.toggleClass('io-black-mode', isNightMode).toggleClass('io-grey-mode', !isNightMode);
            updateMode();
        }
    
        // 自动切换模式函数
        function autoSwitchMode() {
            const currentHour = new Date().getHours();
            const isNightMode = currentHour >= 18 || currentHour < 6;
            $body.toggleClass('io-black-mode', isNightMode).toggleClass('io-grey-mode', !isNightMode);
            updateMode();
        }
    });
</script>    
</html>
