<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <meta name="keywords" content="{{ .Site.Params.keywords }}">
    <meta name="description" content="{{ .Site.Params.description }}">
    <link rel="shortcut icon" href="{{ .Site.Params.images.favicon | relURL }}">
    
    <link rel="preconnect" href="https://www.csy.cx" crossorigin>
    
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1620675_m19s9z7pba.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ "css/bootstrap.css" | relURL }}" media="all">
    <link rel="stylesheet" href="{{ "css/font-awesome.min.css" | relURL }}" media="all">
    <link rel="stylesheet" href="{{ "css/elegant-icons.css" | relURL }}" media="all">
    <link rel="stylesheet" href="{{ "css/webstack.css" | relURL }}" media="all">
    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}" media="all">

    <script src="{{ "js/jquery-1.11.1.min.js" | relURL }}"></script>
</head>
</html>