<div class="modal fade search-modal" id="search-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div id="search" class="s-search mx-auto my-4">
                    <div id="search-list" class="hide-type-list">
                        <div class="s-type">
                            <span></span>
                            <div class="s-type-list">
                                <label for="m_type-google"   data-id="group-a">常用</label>
                                <label for="m_type-zhihu"    data-id="group-b">社区</label>
                                <label for="m_type-taobao"   data-id="group-c">生活</label>
                                <label for="m_type-boss"     data-id="group-d">招聘</label>
                                <label for="m_type-aqc"      data-id="group-e">公司</label>
                            </div>
                        </div>
                        <div class="search-group group-a"><span class="type-text text-muted">常用</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-google" 
                                    value="https://www.google.com/search?q=" 
                                    data-placeholder="Don't be evil">
                                    <label for="m_type-google"><span class="text-muted">Google</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-baidu"
                                    value="https://www.baidu.com/s?wd=" 
                                    data-placeholder="百度一下，你就知道">
                                    <label for="m_type-baidu"><span class="text-muted">百度</span></label></li>
                                <li><input hidden="" type="radio" name="type" id="m_type-bing"
                                    value="https://cn.bing.com/search?q=" 
                                    data-placeholder="快乐搜索，有求必应">
                                    <label for="m_type-bing"><span class="text-muted">必应</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-youtube" 
                                    value="https://www.youtube.com/results?search_query=" 
                                    data-placeholder="Broadcast Yourself">
                                    <label for="m_type-youtube"><span class="text-muted">Youtube</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-bilibili" 
                                    value=" https://search.bilibili.com/all?keyword=" 
                                    data-placeholder="哔哩哔哩，干杯！">
                                    <label for="m_type-bilibili"><span class="text-muted">B站</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-X"
                                    value="https://x.com/search?q=" 
                                    data-placeholder="It's what's happening">
                                    <label for="m_type-X"><span class="text-muted">X</span></label></li>   
                                <li><input hidden="" type="radio" name="type2" id="m_type-github" 
                                    value="https://github.com/search?q=" 
                                    data-placeholder="Let's build from here">
                                    <label for="m_type-github"><span class="text-muted">Github</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-ghbk"
                                    value="https://www.ghxi.com/?s=" 
                                    data-placeholder="搜索绿色软件">
                                    <label for="m_type-ghbk"><span class="text-muted">果核剥壳</span></label></li>
                            </ul>
                        </div>
                        <div class="search-group group-b"><span class="type-text text-muted">社区</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-zhihu"
                                    value="https://www.zhihu.com/search?type=content&q=" 
                                    data-placeholder="有问题，就会有答案">
                                    <label for="m_type-zhihu"><span class="text-muted">知乎</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-xhs" 
                                    value="https://www.xiaohongshu.com/search_result?keyword=" 
                                    data-placeholder="你的生活指南">
                                    <label for="m_type-xhs"><span class="text-muted">小红书</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-weixin"
                                    value="https://weixin.sogou.com/weixin?type=2&query=" 
                                    data-placeholder="搜狗 | 微信文章搜索">
                                    <label for="m_type-weixin"><span class="text-muted">微信</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-weibo"
                                    value="https://s.weibo.com/weibo/" 
                                    data-placeholder="随时随地发现新鲜事！">
                                    <label for="m_type-weibo"><span class="text-muted">微博</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-douban"
                                    value="https://www.douban.com/search?q=" 
                                    data-placeholder="汇聚一亿人生活趣味">
                                    <label for="m_type-douban"><span class="text-muted">豆瓣</span></label></li>
                                <li><input hidden="" type="radio" name="type" id="m_type-douyin" 
                                    value="https://www.douyin.com/search/" 
                                    data-placeholder="记录美好生活">
                                    <label for="m_type-douyin"><span class="text-muted">抖音</span></label></li>
                                <li><input hidden="" type="radio" name="type" id="m_type-kuaishou" 
                                    value="https://www.kuaishou.com/search/video?searchKey=" 
                                    data-placeholder="拥抱每一种生活">
                                    <label for="m_type-kuaishou"><span class="text-muted">快手</span></label></li>
                            </ul>
                        </div>
                        <div class="search-group group-c"><span class="type-text text-muted">生活</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-taobao"
                                    value="https://s.taobao.com/search?q=" 
                                    data-placeholder="淘宝·太好逛了吧！">
                                    <label for="m_type-taobao"><span class="text-muted">淘宝</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-jd"
                                    value="https://search.jd.com/Search?keyword=" 
                                    data-placeholder="京东·不负每一份热爱">
                                    <label for="m_type-jd"><span class="text-muted">京东</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-tmall" 
                                    value="https://s.taobao.com/search?fromTmallRedirect=true&q=" 
                                    data-placeholder="理想生活上天猫">
                                    <label for="m_type-tmall"><span class="text-muted">天猫</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-kd100" 
                                    value="https://kuaidi100.com/?nu=" 
                                    data-placeholder="请输入快递单号">
                                    <label for="m_type-kd100"><span class="text-muted">快递100</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-drug" 
                                    value="https://www.dayi.org.cn/search?keyword=" 
                                    data-placeholder="请输入您要查询的疾病、症状、医院、医生、药品 | 中国医药信息查询平台">
                                    <label for="m_type-drug"><span class="text-muted">国药查询</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-dingxiang" 
                                    value="https://drugs.dxy.cn/pc/search?keyword=" 
                                    data-placeholder="丁香园·搜索疾病、指南、药品">
                                    <label for="m_type-dingxiang"><span class="text-muted">丁香用药</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-gjkd" 
                                    value="https://t.17track.net/zh-cn#nums=" 
                                    data-placeholder="请输入国际快递单号">
                                    <label for="m_type-gjkd"><span class="text-muted">国际快件</span></label></li>
                            </ul>
                        </div>
                        <div class="search-group group-d"><span class="type-text text-muted">招聘</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-boss"
                                    value="https://www.zhipin.com/web/geek/job?query=" 
                                    data-placeholder="找工作，上BOSS直聘直接谈">
                                    <label for="m_type-boss"><span class="text-muted">BOSS直聘</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-zhaopin"
                                    value="https://sou.zhaopin.com/jobs/searchresult.ashx?kw=" 
                                    data-placeholder="智联招聘，更懂你的价值">
                                    <label for="m_type-zhaopin"><span class="text-muted">智联招聘</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-51job"
                                    value="https://we.51job.com/pc/search?keyword=" 
                                    data-placeholder="找工作，上前程无忧">
                                    <label for="m_type-51job"><span class="text-muted">前程无忧</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-lagou"
                                    value="https://www.lagou.com/jobs/list_" 
                                    data-placeholder="专业的互联网行业招聘平台">
                                    <label for="m_type-lagou"><span class="text-muted">拉钩网</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-liepin"
                                    value="https://www.liepin.com/zhaopin/?key=" 
                                    data-placeholder="黄土埋金，发光靠猎聘">
                                    <label for="m_type-liepin"><span class="text-muted">猎聘网</span></label></li>
                            </ul>
                        </div>
                        <div class="search-group group-e"><span class="type-text text-muted">公司</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-aqc" 
                                    value="https://aiqicha.baidu.com/s?q=" 
                                    data-placeholder="专业查企业，就上爱企查">
                                    <label for="m_type-aqc"><span  class="text-muted">爱企查</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-tyc" 
                                    value="https://tianyancha.com/search?key=" 
                                    data-placeholder="查公司，查老板，查关系">
                                    <label for="m_type-tyc"><span  class="text-muted">天眼查</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-qcc" 
                                    value="https://www.qcc.com/web/search?key=" 
                                    data-placeholder="查企业，上企查查">
                                    <label for="m_type-qcc"><span  class="text-muted">企查查</span></label></li>
                            </ul>
                        </div>
                    </div>
                    <form action="https://www.baidu.com/s?wd=" method="get" target="_blank" class="super-search-fm">
                        <input type="text" id="m_search-text" class="form-control smart-tips search-key" zhannei=""
                                autocomplete="off" placeholder="输入关键字搜索" style="outline:0">
                        <button type="submit"><i class="iconfont icon-search"></i></button>
                    </form>
                </div>
            </div>
            <div style="position: absolute;bottom: -40px;width: 100%;text-align: center;">
                <a href="javascript:" data-dismiss="modal"><i class="iconfont icon-close-circle icon-2x" style="color: #fff;"></i></a>
            </div>
        </div>
    </div>
</div>
